@import "tailwindcss";

@layer utilities {
  ::-webkit-scrollbar {
      width: 4px;
  }

  :root ::-webkit-scrollbar-thumb {
      background-color: #c4c4c4;
      border-radius: 4px;
  }
  :root ::-webkit-scrollbar-track {
      background-color: #ccc;
  }

  .dark ::-webkit-scrollbar-thumb {
      background-color: #555;
  }
  .dark ::-webkit-scrollbar-track {
      background-color: #222;
  }
}


@custom-variant dark (&:where(.dark, .dark *));

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'Onest Variable', sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: light dark;
}

html, body {
  overflow-x: hidden;
}


body{
  display: flex;
  justify-content: center;
  align-items:center;
  /* background: #181818; */
  /* background: -webkit-linear-gradient(90deg, #0a1a33,#00163d);                       
  background: linear-gradient(90deg, #0a1a33,#00163d);        */
  min-height: 100dvh;
  height: 100%;
  background-repeat: no-repeat; /* Evita que se repita el fondo */
  background-size: cover; /* Hace que el gradiente cubra toda la pantalla */
  background-attachment: fixed;
}

.hiddenObs {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.hiddenObs2 {
  opacity: 0;
  transition: all 1.5s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@keyframes autoRun {
  from {
    left: 100%;
  }
  to {
    left: -100%;
  }
}

@keyframes reversePlay {
  from {
    left: -100%;
  }
  to {
    left: 100%;
  }
}
