@import "tailwindcss";

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'Onest Variable', sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: light dark;
}

body{
  display: flex;
  justify-content: center;
  align-items:center;
  /* background: #181818; */
  /* background: -webkit-linear-gradient(90deg, #0a1a33,#00163d);                       
  background: linear-gradient(90deg, #0a1a33,#00163d);        */
  min-height: 100vh;
}

.hiddenObs {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@keyframes autoRun {
  from {
    left: 100%;
  }
  to {
    left: -100%;
  }
}

@keyframes reversePlay {
  from {
    left: -100%;
  }
  to {
    left: 100%;
  }
}
